@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trends-section {
    width: 100%;
    min-height: 100vh;
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 30px;
    gap: 40px;
    padding-bottom: 50px;

    .trends-title {
        color: #555555;
        font-weight: 700;
        font-size: 36px;
    }

    .trend-items-row {
        width: 50%;
        @include flex();
        justify-content: space-between;

        .trend-item {
            color: #C2C2C2;
            font-weight: 600;
            font-size: 24px;
            position: relative;
            padding: 3px 5px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 3px;
                background-color: var(--main-color);
                left: -10px;
                bottom: 0;
                transition: .5s;
            }

            &:hover::after {
                left: 0;
                width: 45%;
            }

            &.focus {
                color: var(--main-color);
                cursor: default;

                &::after {
                    background-color: unset;
                }
            }
        }
    }

    .trend-items-wrapper {
        margin-top: 30px;
        width: 90%;
        min-height: 70vh;
        @include flex();
        flex-wrap: wrap;
        gap: 30px;
    }
}