.top-strip {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: var(--main-color);
    color: #fff;
    position: relative;

    .left-text {
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: -2px 0 4px #e6e6e6;
        cursor: default;
    }

    .brand-box {
        display: none;
    }

    .account-box {
        position: absolute;
        right: 70px;
        width: 160px;
        background-color: gold;
        padding: 4px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        .login-btn,
        .sign-up {
            transition: .4s;
            cursor: pointer;

            &:hover {
                color: #01003e;
            }
        }
    }
}

@media screen and (max-width: 670px) {
.top-strip {
    padding: 0 20px;

    .left-text {
        display: none;
    }
    .brand-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            transform: scale(.8);
        }

        strong {
            font-weight: 700;
            font-size: 22px;
            cursor: pointer;
            color: #fff;
        }
    }
    .account-box {
        right: 20px;
    }
}
}