.errorPagewrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
}
.errorImg {
    width: 400px;
}
.return_btn {
    text-decoration: none;
    width: 180px;
    border-radius: 7px;
    box-shadow: var(--box-shd);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(30deg, #000062, #0000f5);
}