.top-bar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;

    .brand-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            transform: scale(.9);
        }

        strong {
            font-weight: 700;
            font-size: 22px;
            cursor: pointer;
            color: #555;
        }
    }

    .search-box {
        width: 500px;
        border-radius: 7px;
        border: 2px solid var(--main-color);
        display: flex;

        input {
            flex: 1;
            outline: none;
            border: none;
            padding: 4px 15px;
            border-radius: inherit;
            font-size: 18px;

            &::placeholder {
                color: #cdcdcd;
            }
        }

        .search-filter-select {
            width: 100px;
            border: none;
            text-align: center;
            color: #3f3f3f;
            outline: none;
            border-left: 1px gray solid;
        }

        .search-btn {
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            background-color: var(--main-color);
            transition: .4s;

            &:hover {
                box-shadow: 3px 3px 8px var(--main-color), 3px -3px 8px var(--main-color);
            }

        }
    }

    .user-icons-box {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 25px;

        .user-icon {
            position: relative;
            cursor: pointer;
            transition: .4s;
            color: #555;

            &:hover {
                color: var(--main-color);
            }

            .badge {
                position: absolute;
                right: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: var(--main-color);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
            }
        }
    }
}